<div class="container">
    <div class="content-header">
        <h1 class="title-header">Social<span>Network</span></h1>
        <div class="search-input">
            <input placeholder="Find" />
        </div>
        <div class="menu-list">
            <button><i class="fa-solid fa-arrow-up"></i>Upload</button>
            <div class="user-content">
                <i class="fa-solid fa-user"></i>
                <div class="detail-user">
                    <span class="username-user">Asep Kurasep</span> 
                    <span class="title-user">CEO Botak</span>
                    <div class="notifcation">
                        <span>14</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>